.packages
  padding: 40px 0 70px 0
  &__title
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin-top: 0
    margin-bottom: 65px
  &-wrapper
    display: grid
    grid-template-columns: 350px 350px 350px
    grid-column-gap: 30px
    grid-row-gap: 30px
  &-vertical
    display: flex
    flex-wrap: wrap
    flex-direction: column
    padding: 28px 21px 25px 32px
    color: $light
  &-description
    &-horizontal
      width: 50%
      padding: 46px 21px 30px 44px
  &-horizontal
    display: flex
    // flex-wrap: wrap
    flex-direction: column
    width: 100%

    color: $light
.haven
  margin-bottom: 37px
.conditions
  &-horizontal
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    margin-left: 3px
    margin-bottom: 37px
.offers
  position: relative
  height: 500px
  border-radius: 8px
  overflow: hidden
  background-color: $dark
  &-card:nth-child(1)
    grid-column-start: 1
    grid-column-end: 3
  &-haven
    display: flex
    max-width: 730px
  &__image
    width: 100%
    height: 250px
    object-fit: cover
    &-haven
      width: 366px
      height: 500px
      object-fit: cover
  &-stars
    display: flex
    margin-bottom: 5px
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin-top: 0
    margin-bottom: 22px
    &-horizontal
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-top: 0
      margin-bottom: 27px
  &__description
    &-text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 158.6%
      margin-top: 0
      margin-bottom: 44px
  &-conditions
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
  &__address
    display: flex
    align-items: center
    margin-bottom: 11px
  &__guests
    display: flex
    align-items: center
    margin-bottom: 11px
  &__room
    display: flex
    align-items: center
  &__pricetag
    display: flex
    justify-content: space-between
    align-items: center
    &-horizontal
      margin-left: 3px
  &__price
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 18px
    text-decoration: line-through
    &-horizontal
      margin-left: 3px
  &__sale
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 30px
  &__button
    font-family: Nunito
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 19px
    padding: 11px 27px 10px 26px
    color: $light
    background-color: $primary
    border: none
    border-radius: 4px
    cursor: pointer
  &-flash
    position: absolute
    top: 26px
    left: 0
    background-color: $primary
    color: $light
    padding: 4px 9px
    font-style: normal
    font-weight: 600
    font-size: 8px
    line-height: 10px
    border-radius: 0px 4px 4px 0px
    &-horizontal
      position: absolute
      top: 26px
      left: 0
      background-color: $primary
      color: $light
      padding: 8px 20px 7px 11px
      font-style: normal
      font-weight: 600
      font-size: 12px
      line-height: 15px
      border-radius: 0px 4px 4px 0px
  .flash
    &-image
      &-horizontal
        width: 50%
.icons
  margin-right: 14px
.conditions
  &-horizontal

  &-vertical
    margin-bottom: 24px
