.packages
  padding: 40px 0 70px 0
  &__title
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin-top: 0
    margin-bottom: 65px
  &-wrapper
    display: grid
    grid-template-columns: 350px 350px 350px
    grid-column-gap: 30px
    grid-row-gap: 30px
  &-offers
    display: flex
    flex-wrap: wrap
    flex-direction: column
    max-width: 364px
    padding: 46px 21px 30px 43px
    background-color: $dark
    color: $light
.offers
  border: 1px solid red
  min-height: 500px
  border-radius: 8px
  overflow: hidden
  &-card:nth-child(1)
    grid-column-start: 1
    grid-column-end: 3
  &-haven
    display: flex
  &__image
    &-haven
      width: 100%
      height: 500px
      object-fit: cover
  &-stars
    display: flex
    margin-bottom: 5px
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin-top: 0
    margin-bottom: 27px
  &__description
    &-text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160.6%
      margin-top: 0
